{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block table %}
<br></br>
<br></br>
<a href="/Cabinet/Administration/Gestionconsultation" class="btn btn-outline-secondary">Retour</a>
<br></br>
<h1 class="page-header"> Liste des consultations </h1><br></br>
<body>
<table class="table table-stripped">
    <thead>
      <tr>
        <th><h4>Nom</h4></th>
        <th><h4>Prénom</h4></th>
        <th><h4>Cin</h4></th>
        <th><h4>Action</h4></th>
      </tr>
    </thead>
    <tbody>

          	{% for user in users %}

          	<tr>
        <td><h4>{{user.nom}}</h4></td>
        <td><h4>{{user.prenom}}</h4></td>
        <td><h4>{{user.cin}}</h4></td>
        <td><a href="/Cabinet/Administration/Gestionconsultation/voir/{{user.cin}}" class="btn btn-info"><h4>Voir</h4>
        </td>
      		</tr>

      		{% endfor %}

    </tbody>
  </table>
  </body>
{% endblock %}